attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.8
docutils==0.18.1
greenlet==1.1.2
idna==3.3
iniconfig==1.1.1
jieba==0.42.1
Kivy==2.0.0
Kivy-Garden==0.1.4
packaging==21.3
pluggy==1.0.0
py==1.11.0
pydantic==1.9.0
Pygments==2.10.0
pyparsing==3.0.6
pytest==6.2.5
pytest-mock==3.6.1
requests==2.26.0
SQLAlchemy==1.4.31
toml==0.10.2
typing_extensions==4.0.0
urllib3==1.26.7
